<!-- Toma el html de base -->
{% extends 'itbank/base.html' %}

<!-- Carga el contenido de static -->
{% load static %}

<!-- Titulo de inicio-->
{% block title %} Inicio {% endblock %}

<!-- Header -->
{% block headers %}
    <h1>Bienvenido a ITBANK</h1>
    <p class="subheading">El futuro de tu economía</p>
    <img src="{% static 'itbank/img/banner.jpg' %}" class="img-fluid" alt="banner">
{% endblock %}

<!-- Body -->
{% block body %}
<h2>¡Disfrutá los beneficios que ITBANK tiene para vos!</h2>
{% endblock %}
