h1{
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  text-align: center;
}
h2{
  margin: 5rem;
  text-align: center;
}
span, h3, a, p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-align: center;
}

body{
  background-color: rgb(241 245 249);
}

/* .mainBar{
  background-color:  rgb(30 58 138);
  color: rgb(241 245 249);
} */
